.accordion-group {
  &--has-counter {
    counter-reset: custom-counter;
    list-style: none;

    .accordion-group__item {
      counter-increment: custom-counter;

      &::before {
        content: counter(custom-counter, decimal-leading-zero);
      }
    }
  }

  &__item {
    padding: fluid-to-laptop(34, 24);

    &:not(:last-child) {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-image: linear-gradient(
          90deg,
          #e5000000 0%,
          var(--color-red-45) 16.67%,
          #e5000000 100%
        );
      }
    }
  }
}
