.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;

  @include mobile {
    min-height: 639px;
  }

  &__pano {
    @include flex-center;

    flex-grow: 1;
  }

  &__play-button {
    @include square(fluid(470, 200));

    padding: 0;
    background-color: transparent;
    border: none;
  }
}
